<h2>Matches</h2>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Match</th>
      <th>Captain team 1</th>
      <th>Player team 1</th>
      <th>Captain team 2</th>
      <th>Player team 2</th>
      <th>At hole</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each_with_index do |match, index| %>

      <% team_1 = match.team_1 %>
      <% team_2 = match.team_2 %>
      
      <tr>
        <td><%= index + 1 %></td>
        <td><%= team_1.captain %></td>
        <td><%= team_1.player %></td>
        <td><%= team_2.captain %></td>
        <td><%= team_2.player %></td>
        <td>
          <% if match.finished? %>
            Match finished
          <% else %>
            <%= match.hole.nr %>
          <% end %>
        </td>
        <td>
          <% score_team_1, score_team_2 = match.score %>
          
          <% if score_team_1 == score_team_2 %>
            Match tied
          <% elsif score_team_1 > score_team_2 %>
            <%= team_initials(team_1) %> lead by <b><%= score_team_1 %></b>
          <% elsif score_team_1 < score_team_2 %>
            <%= team_initials(team_2) %> lead by <b><%= score_team_2 %></b>
          <% end %>
        </td>
        <td>
          <% if match.players.include?(current_player) %>
            <% if match.finished? %>
              <%= link_to 'See results', match_path(match), :class => 'btn info' %>
            <% else %>
              <%= link_to 'Go to match', match_path(match), :class => 'btn success' %>
            <% end %>
          <% end %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<%= link_to 'Start a new match', new_match_path, :class => 'btn' %>
