<% if @match.finished? %>
  <h1>Match done!</h1>

  <% team_1 = @match.team_1 %>
  <% team_2 = @match.team_2 %>

  <% score_team_1, score_team_2 = @match.score %>

  <% if score_team_1 == score_team_2 %>
    <p>Match tied</p>
  <% elsif score_team_1 > score_team_2 %>
    <p>Team 1 winners:</p>
    <ul>
      <li><%= team_1.captain.name %></li>
      <li><%= team_1.player.name %></li>
    </ul>
    
    <%= score_team_1 %> UP
  <% elsif score_team_1 < score_team_2 %>
    <p>Team 2 winners:</p>
    <ul>
      <li><%= team_2.captain.name %></li>
      <li><%= team_2.player.name %></li>
    </ul>
    
    <%= score_team_2 %> UP
  <% end %>
<% else %>
  Match is not finished, see <%= link_to 'list of matches', matches_path %>.
<% end %>
