<h1>Hole <%= @match.hole.nr %></h1>

<ul>
  <li>Par: <%= @match.hole.par %></li>
  <li>HCP: <%= @match.hole.hcp %></li>
</ul>

<%= simple_form_for @match, :url => score_match_path(@match), :method => :post do |form| %>
  <% @match.teams.each do |team| %>
    <% team.players.each do |player| %>
      <%= form.simple_fields_for :scores, @match.score_for(player) do |score_form| %>
        <%= score_form.input :match_id, :as => :hidden %>
        <%= score_form.input :player_id, :as => :hidden, :input_html => { :value => player.id } %>
        <%= score_form.input :hole_id, :as => :hidden, :input_html => { :value => @match.hole.id } %>
        <%= score_form.input :score, :as => :integer, :label => player.initials, :input_html => { :class => 'span1' } %>
      <% end %>
    <% end %>
  <% end %>

  <div class="actions">
    <% unless @match.hole.nr == 1 %>
      <%= link_to 'Prev hole', prev_hole_match_path(@match), :class => 'btn', :method => :put %>
    <% end %>
    <% if @match.hole.nr == 18 %>
      <%= form.submit :class => 'btn', :value => 'End match' %>
    <% else %>
      <%= form.submit :class => 'btn', :value => 'Next hole' %>
    <% end %>
  </div>
<% end %>

<% score_team_1, score_team_2 = @match.score %>

<% if score_team_1 == score_team_2 %>
  Match is tied
<% elsif score_team_1 > score_team_2 %>
  <%= team_initials(team_1) %> lead by: <b><%= score_team_1 %></b>
<% elsif score_team_1 < score_team_2 %>
  <%= team_initials(team_2) %> lead by: <b><%= score_team_2 %></b>
<% end %>

<div class="pagination">
  <ul>
    <% (1..18).each do |nr| %>
      <li class="<%= 'active' if nr == @match.hole.nr %>">
        <%= link_to nr, goto_hole_match_path(@match, :nr => nr), :method => :put %>
      </li>
    <% end %>
  </ul>
</div>
