<% score_team_1, score_team_2 = @match.score %>

<div class="row well">
  <div class="span3">
    <h1>Hole <%= @match.hole.nr %></h1>
    <span class="label">
      PAR <%= @match.hole.par %>
    </span>
    <br />
    <span class="label notice">
      HCP <%= @match.hole.hcp %>
    </span>
  </div>
  <div class="span2">
    <h3><%= team_initials(@match.team_1) %></h3>
    <% if score_team_1 == score_team_2 %>
      AS
    <% elsif score_team_1 > score_team_2 %>
      <%= score_team_1 %> UP
    <% elsif score_team_1 < score_team_2 %>
      -<%= score_team_2 %> DOWN
    <% end %>
  </div>
  <div class="span2">
    <h3><%= team_initials(@match.team_2) %></h3>
    <% if score_team_2 == score_team_1 %>
      AS
    <% elsif score_team_2 > score_team_1 %>
      <%= score_team_2 %> UP
    <% elsif score_team_2 < score_team_1 %>
      -<%= score_team_1 %> DOWN
    <% end %>
  </div>
</div>

<%= form_for(@match, :url => score_match_path(@match), :method => :post) do |form| %>
  <div class="row well">
    <div style="width: 220px; float: left; margin-left: 10px;">
      <h2 style="text-align: center;">Team 1</h2>
      
      <%= render 'team_form', :team => @match.team_1, :form => form %>
    </div>
    <div style="width: 220px; float: left; margin-left: 10px;">
      <h2 style="text-align: center;">Team 2</h2>

      <%= render 'team_form', :team => @match.team_2, :form => form %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="actions" style="float: center;">
    <% unless @match.hole.nr == 1 %>
      <%= link_to 'Prev hole', prev_hole_match_path(@match), :class => 'btn', :method => :put %>
    <% end %>
    <% if @match.hole.nr == 18 %>
      <%= form.submit :class => 'btn', :value => 'End match' %>
    <% else %>
      <%= form.submit :class => 'btn', :value => 'Next hole' %>
    <% end %>
  </div>
<% end %>
