<h2>Courses</h2>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Club</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.name %>
        </td>
        <td>
          <%= course.club.name %>
        </td>
        <td>
          <%= link_to 'Edit', edit_course_path(course), :class => 'btn info' %>
          <%= link_to 'Remove', course_path(course), :method => :delete, :confirm => 'Are you sure?', :class => 'btn danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new course', new_course_path, :class => 'btn' %>
