<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>B채stboll/S채mstboll</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span10">
          <h1>B채stboll/S채mstboll</h1>
        </div>
        <div class="span6">
          <div class="well">
            <% if player_signed_in? %>
              <%= link_to 'Sign out', destroy_player_session_path, :method => :delete, :class => 'btn' %>
            <% else %>
              <%= link_to 'Sign up', new_player_registration_path, :class => 'btn' %>
              <%= link_to 'Sign in', new_player_session_path, :class => 'btn' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span16">
          <% if flash.present? %>
            <div id="flash">
              <% flash.each do |type, message| %>
                <p class="alert-message <%= type %>"><%= message %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="span16">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
